<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Ponto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="point.nome" placeholder="Nome da Profissional" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="point.atendimento" placeholder="Horario de Atendimento" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="point.servicos" placeholder="Serviços" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="point.biografia" placeholder="Biografia" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="point.title" placeholder="Titulo do Ponto" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="Endereço" required></ion-input>
      <ion-input type="text" [(ngModel)]="point.endereco" [hidden]="search.length"> {{ endereco }}</ion-input>
    </ion-item>



    <ion-list [hidden]="!search.length">
        <ion-item (click)="selectEndereco(result)" *ngFor="let result of searchResults">
          {{ result.description }}
        </ion-item>
      </ion-list>

    <ion-item>
      <ion-input type="text" [(ngModel)]="point.description" placeholder="Observação"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" [(ngModel)]="point.whats" placeholder="WhatsApp"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" [(ngModel)]="point.telefone" placeholder="Telefone"></ion-input>      
    </ion-item>


   


    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="savePoint()" expand="block">
      Salvar point
    </ion-button>
  </ion-toolbar>
</ion-footer>